.btn-whatsapp {
  display: block;
  width: 80px;
  height: 80px;
  color: #fff;
  position: fixed;
  right: 25px;
  bottom: 15px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999; }

.header {
  text-align: center; }

.header {
  animation: typewriter 3s steps(44) 1s; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 50em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

.three-columns {
  margin: 10px;
  width: 32%;
  display: inline-block; }

.alquiler {
  text-align: center; }

body {
  background-color: grey;
  font-family: cursive;
  color: #eeb90b; }

h1 {
  font-weight: bolder;
  font-size: 48px; }

.container {
  background-color: white;
  margin: 100px auto;
  width: 1280px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1); }

footer {
  padding: 0px;
  margin: 0px; }
  footer div {
    background-color: white;
    color: #eeb90b; }
    footer div a {
      background-color: grey;
      color: #eeb90b;
      border-radius: 50px;
      padding: 20px 3px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bolder; }

.nav-item, .nav-item-rojo {
  border-radius: 20px;
  background-color: grey; }

.nav-item-rojo {
  background: red; }

.redes .facebook {
  color: #3a5795; }

.redes .twitter {
  color: #55acee; }
